%nav.navbar.navbar-expand-lg.navbar-light.bg-light
	%button.navbar-toggler{"aria-controls" => "navbarTogglerDemo03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo03", "data-toggle" => "collapse", :type => "button"}
		%span.navbar-toggler-icon
	%a.navbar-brand{:href => "#"}
		= image_tag 'logo_long.png', style: 'width: 45%'
	#navbarTogglerDemo03.collapse.navbar-collapse
		%ul.navbar-nav.mr-auto.mt-2.mt-lg-0
			%li.nav-item
				%a.nav-link{:href => "#"} Pillows
			%li.nav-item.dropdown
				%a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
					Keychains
				.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
					%a.dropdown-item{:href => "#"} Plush
					%a.dropdown-item{:href => "#"} Arcylic
			%li.nav-item.dropdown
				%a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
					T-Shirts
				.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
					%a.dropdown-item{:href => "#"} Men
					%a.dropdown-item{:href => "#"} Woman
			%li.nav-item
				%a.nav-link{:href => "#"} About
			%li.nav-item
				%a.nav-link{:href => "#"} F.A.Q


#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
	%ol.carousel-indicators
		%li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
		%li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
		%li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
	.carousel-inner
		.carousel-item.active
			TEST
			%img.d-block.w-100{:alt => "First slide", :src => "..."}/
		.carousel-item
			%img.d-block.w-100{:alt => "Second slide", :src => "..."}/
		.carousel-item
			%img.d-block.w-100{:alt => "Third slide", :src => "..."}/
	%a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
		%span.carousel-control-prev-icon{"aria-hidden" => "true"}
		%span.sr-only Previous
	%a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
		%span.carousel-control-next-icon{"aria-hidden" => "true"}
		%span.sr-only Next
