---
title: Coming Soon
---

.logo-container
  = image_tag 'logo_symbol.jpg', style: 'width: 40%;', class: 'symbol'
  = image_tag 'logo_words.png', style: 'width: 60%;', class: 'words'

  %h1.coming-soon-txt Coming Soon
  %span Visit us at
  = link_to 'https://piscaries.weebly.com/', 'https://piscaries.weebly.com/'

  -#- data.piscaries_creations.pillows.each do |id, image|
    -#= image_tag image.pillow_image['url']

      
