---
title: Coming Soon
---

.logo-container
  = image_tag 'logo_symbol.jpg', style: 'width: 60%;', class: 'symbol'
  = image_tag 'logo_words.png', style: 'width: 60%;', class: 'words'

  %h1.coming-soon-txt Coming Soon
